.header__title {
  margin: 0;
  color: #a9a9a9;
  text-rendering: optimizeLegibility;
  font-family: Inter, "Arial", "Helvetica";
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  text-align: right;
  cursor: pointer;
  transition: opacity 0.3s linear;
}
.header__title:hover {
  opacity: 0.6;
}
