.login__input {
    color: #CCCCCC;
    width: 100%;
    max-width: 360px;
    outline: none;
    border: none;
    outline: none;
    margin: 0 0 30px 0;
    padding: 0 0 13px 0;
    background-color: #000;
    border-bottom: 2px solid #cccccc;
    text-rendering: optimizeLegibility;
    font-family: Inter, 'Arial', 'Helvetica';
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
}