.header__text {
  margin: 51px 0 46px 0;
  padding: 0;
  color: #fff;
  text-decoration: none;
  text-rendering: optimizeLegibility;
  font-family: Inter, "Arial", "Helvetica";
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  text-align: right;
  color: #fff;
  transition: opacity 0.3s linear;
}
.header__text:hover {
  opacity: 0.6;
}
