.cards__text {
    margin: 0;
    padding: 0;
    width: 90%;
    color: #000000;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    font-family: Inter, 'Arial', 'Helvetica';
    text-rendering: optimizeLegibility; 
    font-style: normal;
    font-weight: 900;
    font-size: 24px;
    line-height: 29px; 
}